
.node-setting{
  .tree-node-wrap{
    .title{
      //min-width: 180px;
      background-color: #007eff;
      color: #fff;
      text-align: center;
      padding: 10px;
    }
    .operation-wrap{
      display: flex;
      justify-content: space-between;
      span{
        display: inline-block;
        min-width: 76px;
        background-color: #469df9;
        color: #fff;
        padding: 5px 10px;
      }
    }
  }// tree-node-wrap
}